html * {
  font-family: Georgia;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #052962;
  margin-top: 0;
}

.header-logo-container {
  text-align: center;
  margin-right: 5%;
  font-size: 30pt;
  line-height: 25pt;
  margin-top: 5%;
  color: #ffffff;
  font-family: "Georgia";
  font-weight: bold;
}

.tag-line {
  text-align: center;
  color: #FFE500
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  font-family: "Georgia";
  font-weight: bolder;
  font-size: 25pt;
  list-style: none;
}

.navigation a {
  text-decoration: none;
}

.pillar a {
  color: white;
}

.pillar {
  border-top-style: solid;
  border-top-color: transparent;
  border-top-width: 5px;
}

.pillar:hover {
  border-top-style: solid;
}

.news:hover {
  border-color: #c70007;
}

.opinion:hover {
  border-color: #e05e00;
}

.sport:hover {
  border-color: #0084c6;
}

.culture:hover {
  border-color: #a1845c;
}

.lifestyle:hover {
  border-color: #bb3b80;
}

h2 {
  margin-left: 20px;
  font-family: "Georgia";
  color: black;
  font-weight: bold;
}

.fade {
  opacity: 1;
}

.fade:hover {
  opacity: 1;
}

.color:hover {
  background: #53a7ea;
}

.circle:hover {
  border-radius: 10%;
}

.rotate:hover {
  transform: rotateZ(-5deg);
}

.shrink:hover {
  transform: scale(0.5);
}

.grow:hover {
  transform: scale(1.3);
}
